.kauriTree {
  width: 30%;
}

.main-content {
  background-color: #f8f9fa;
  padding-bottom: 80px;
}

.project-main {
  background-color: #f8f9fa;
  margin: 20px;
}

.navbar {
  background-color:bisque;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 20rem;
}

.navlinks {
  margin-right: 20rem;
}

.nav-link {
  margin-left: 2rem;
}

.member {
  display: flex;
  margin: 0.25rem;
  flex-direction: row !important;
  height: 55px !important;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.projectHovered {
  background-color: rgb(139, 184, 174) !important;
}

.task-scroll-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  overflow: visible;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.task {
  display: flex;
  flex-direction: row;
  width: 275px;
}

.task-container {
  flex-direction: row;
  overflow: visible;
  overflow-x: auto;
  padding-bottom: 2rem;

}

.backlog-box-title {
  background-color: #17a2b8;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-align: center;
  margin-bottom: 1rem;
}

.backlog-box {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  background-color:aliceblue;
  border-radius: 5px;
  overflow-x: auto;     
  overflow-y: auto; 
  scrollbar-width: none;  
  -ms-overflow-style: none;
}

.backlog-box::-webkit-scrollbar {
  height: 0px; /* hide horizontal scrollbar */
  width: 8px;  /* keep vertical scrollbar */
}


