.kauriTree {
  width: 30%;
}

.main-content {
  background-color: #f8f9fa;
  padding-bottom: 80px;
}

.project-main {
  background-color: #f8f9fa;
  
}

.navbar {
  background-color:bisque;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 20rem;
}

.navlinks {
  margin-right: 20rem;
}

.nav-link {
  margin-left: 2rem;
}

.projectHovered {
  background-color: rgb(139, 184, 174) !important;
}

.task-scroll-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.task {
  background-color:bisque !important;
}

.task-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 2rem;
  height: 225px;
}

.backlog-box {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 350px;
  background-color:aliceblue;
  border-radius: 5px;
}

