.kauriTree {
  width: 30%;
}

.navbar {
  background-color:bisque;
}

.navbar-brand {
  font-weight: bold;
  margin-left: 20rem;
}

.navlinks {
  margin-right: 20rem;
}

.nav-link {
  margin-left: 2rem;
}

.projectHovered {
  background-color: rgb(139, 184, 174) !important;
}

.task-scroll-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.task {
  background-color:bisque !important;
}

